@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
    font-family: 'Cairo', sans-serif;
  }
}

/* Start Global Rules */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/* Container */
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 40px;
  padding-right: 40px;
}
.li-class:hover > .li-before {
  width: 100%;
  opacity: 1;
  z-index: -1;
}
.gellery-before, .services-before {
  background-image: linear-gradient(135deg, #fff 25%, transparent 25%),
    linear-gradient(225deg, #fff 25%, transparent 25%);
  background-size: 30px 30px;
}
/* Features */
.features>.container>div:hover a {
  color: #fff !important;
}
.features>.container>div:hover a>span {
  left: 0;
}
.features>.container>div:hover>span {
  transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
}
/* Team Member */
.member-card:hover>span {
  width: 100%;
}
.member-card:hover>img {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}
/* Services */
.services-card:hover>span {
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
}
